/* .body{
    background: #dbd4d4;   
    height: 100vh;
    text-align: center;
    justify-content: center;
} */

.main{
    position:absolute;
    width: 29vw;
	background:#eee;
    
    background-color: rgb(142, 165, 125);
    /* display: flex; */
    /*flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px auto;
     */
    
}

.prime{

    display:inline-block;
	text-align:center;
	width:7vw;
	height:5vw;
	line-height:5vw;
	margin:3%;
	font-size:2vw;
	background-color: rgb(200, 184, 179); 
    border: 2px solid black ; 
    border-radius: 9px;
	
    
    
}

 .display{
    position: relative;
   
    display: inline;
    width: 285px;
    height: 80px;
    left: 21%;
    top: 10px;
    
    text-align: right;
    letter-spacing: 0.2em;
    font-size: 40px;
    
    background-color:black;
} 

.but
{
    position: absolute;
    text-align: center;
    width: 40px;
    height: 40px;
    top: 30px;
    left: 86%;
    
}
.up{
    width:7vw;
	height:8vw;
    display: flex;
}